@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Nunito|Caveat+Brush');

$yellow-light: #f9f59e;
$yellow: #fbda7d;
$yellow-dark: #f7d75c;
$orange: #fdb90b;
$blueish: #bdfffc;
$brown: #dd8a34;
$green: #0dc4ab;
$green-light: #1cb8ab;
$green-dark: #6ae0c7;
$blue: #198b85;
$blue-ish: #1fc0ab;


* {
	box-sizing: border-box;
}

body {
	background: #f8f8f8;
	font-family: "Nunito", sans-serif;
}

aside.context {
	text-align: center;
	color: #333;
	line-height: 1.7;
	a {
		text-decoration: none;
		color: #333;
		padding: 3px 0;
		border-bottom: 1px dashed;
		&:hover {
			border-bottom: 1px solid;
		}
	}
	.explanation {
		max-width: 700px;
		margin: 4em auto 0;
	}
}

footer {
	text-align: center;
	margin: 3em auto;
	width: 100%;
	a {
		text-decoration: none;
		display: inline-block;
		width: 45px;
		height: 45px;
		background: transparent;
		color: #333;
		margin: 5px;
		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}
		.icons {
			margin-top: 12px;
			display: inline-block;
			font-size: 20px;
		}
	}
}

.main-content {
	max-width: 600px;
	width: 100%;
	margin: 4em auto 0;
	overflow: hidden;
}

main{
	display: none;
	transition: 20s ease-in;
}

@media screen and (min-width: 601px){
	.name{
		margin: 5% 30%;
		label{
			font: 700 20px 'Nunito', sans-serif;
			padding: 1em;
			margin-bottom: 1em;
			color: $blue;
		}
		input{
			width: 12em;
			height: 2em;
			border: 2px dotted;
			color: $blue;
			font: 700 20px 'Nunito', sans-serif;
			text-orientation: center;
		}
	}
}
@media screen and (min-width: 350px) and (max-width: 600px){
	.name{
		margin: 5% 25%;
		label{
			font: 700 20px 'Nunito', sans-serif;
			padding: 1em;
			margin-bottom: 1em;
			color: $blue;
		}
		input{
			width: 12em;
			height: 2em;
			border: 2px dotted;
			color: $blue;
			font: 700 20px 'Nunito', sans-serif;
			text-orientation: center;
		}
	}
}
@media screen and (max-width: 349px){
	.name{
		margin: 15% 15%;
		label{
			font: 700 20px 'Nunito', sans-serif;
			padding: 1em;
			margin-bottom: 1em;
			color: $blue;
		}
		input{
			width: 12em;
			height: 2em;
			border: 2px dotted;
			color: $blue;
			font: 700 20px 'Nunito', sans-serif;
			text-orientation: center;
		}
	}
}

.title {
	background: $blue;
	color: #fff;
	padding: 30px 10px;
	grid-column: span 5;
	text-align: center;
	font: 72px/0.9 "Amatic SC", cursive;
	span {
		display: none;
		&:nth-child(1) {
			display: block;
		}
		@media screen and (max-width: 349px) {
			&:nth-child(1) {
				display: none;
			}
			&:nth-child(2) {
				display: block;
			}
		}
	}
}

.bingo-card {
	background: $green-dark;
	padding: 10px;
	display: grid;
	grid-gap: 3px;
	grid-template-rows: repeat(5, 120px);
	grid-template-columns: repeat(3, 1fr);
	text-transform: uppercase;
	&__item {
		background: $green-light;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
		font-size: 12px;
		line-height: 1.35;
		user-select: none;
		&:after {
			content: "x";
			position: absolute;
			top: 25%;
			left: 25%;
			color: $blueish;
			width: 50%;
			opacity: 0;
			transition: 0.1s ease;
			height: 0;
			pointer-events: none;
			font: 100px/0.5 "Caveat Brush", cursive;
			text-align: center;
		}
		&.active:after {
			height: 100%;
			opacity: 0.7;
		}
	}
}

.bingo-card {
	&__item {
		padding: 15px;
		&.active .bingo-card__checkbox:before {
			content: "\2714";
			position: absolute;
			color: white;
			left: 0;
			top: -19px;
			color: $blue;
			font: 30px "Caveat Brush", cursive;
		}
	}
	&__checkbox {
		display: none;
	}
}

.clear-button {
	margin: 2em 0 0;
	font: 700 16px 'Nunito', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	border: 2px dotted;
	color: $blue;
	padding: 8px 10px;
	&:hover {
		color: $blue-ish;
	}
}

.save-button {
	margin: 2em 0 0;
	font: 700 16px 'Nunito', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	border: 2px dotted;
	color: $blue;
	padding: 8px 10px;
	&:hover {
		color: $blue-ish;
	}
}

@media screen and (max-width: 349px) {
	.main-content {
		max-width: none;
		margin: 0;
	}
	.title {
		font: 50px/0.9 "Amatic SC", cursive;
		padding: 20px;
	}
	.bingo-card {
		grid-template-rows: repeat(24, auto);
		grid-template-columns: auto;
		margin: 1em;
	}
	.bingo-card__item {
		justify-content: flex-start;
		padding: 15px 15px 15px 40px;
		text-align: left;
		&:after {
			content: "";
			opacity: 0;
		}
		&:nth-child(13) {
			display: none;
		}
	}
	.bingo-card__checkbox {
		display: inline;
		position: absolute;
		width: 20px;
		height: 20px;
		left: 10px;
		border: 2px dashed $green-dark;
	}
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  text-transform: uppercase;
  font-family: 'gilroy', sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  color: transparent;
}

.loader::before {
  content: 'e4e Bingo! Remote work edition !! .....';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $green-light;
  overflow: hidden;
  border-right: 1px solid #000;
  white-space: nowrap;
  animation: type 5s  infinite;
}

@keyframes type {
  0% {
    width: 0;
  }
  
  50% {
    width: 100%;
  }
  
  100% {
    width: 0;
  }
}


.authorize_button{
	background-color: $green-dark;
	border: 2px dotted $green;
  }

#link{
	color: $green-dark;
}
